/* General stuff */

body {
	min-height: 100%;
	background: #EAE4DC;
	padding: 0;
	margin: 0;
	letter-spacing: 1.5px;
	line-height: 170%;
}

body li, ul, h1, h2, h3, h4, h5, h6, img, a {
	padding: 0;
	margin: 0;
}

::selection {
	background-color: rgba(28, 28, 28, 40%);
}

::-moz-selection {
	background-color: rgba(28, 28, 28, 40%);
}

#otherSpecial span,
#breakfastSpecial span {
	text-decoration: line-through;
}

.oldPrice p {
	text-decoration: line-through;
}
.newPrice p {
	transform: rotate(-20deg);
	width: 45px;
	height: 25px;
	float: right;
	padding: 0;
	margin: 0;
}

/* Navigation */

nav {
	width: 100%;
	height: 140px;
	background-color: rgba(28, 28, 28, 90%);
}

nav a {
	text-decoration: none;
	color: #EDF1FA;
	padding: 0;
}

#logo, #topLinks, #reservation {
	display: inline-block;
}

#logo {
	width: 260px;
	height: 115px;
	padding-top: 15px;
	margin-left: 30px;
}


#logo img {
	height: auto;
	width: 260px;
}

#topLinks {
	margin-left: 100px;
	margin-top: 60px;
	vertical-align: top;
}

#topLinks a {
	margin-left: 80px;
}

#topLinks ul {
	cursor: default;
}

#topLinks li {
	color: #C7B5A9;
	display: inline-block;
	font-family: 'Roboto';
	font-size: 18px;
}



#reservation {
	color: white;
	vertical-align: top;
	float: right;
	margin: 25px 50px 0 0;
	border-radius: 50px;
	background-image: linear-gradient(to bottom right, #C7B5A9, #B78F73);
}

#reservation p {
	padding: 10px;
	font-family: 'Roboto';
	font-size: 20px;
}

/* Header */

#header {
	background: url(../../Images/steakhouseMenu.png) no-repeat center center;
	height: 100vh;
	width: 100%;
}

#header h1 {
	color: #EDF1FA;
	font-size: 50px;
	font-family: 'Lato';
	font-weight: 700;
	margin-top: 70px;
	text-align: center;
}

#header h2 {
	color: #EDF1FA;
	font-size: 30px;
	font-family: 'Lato';
	font-weight: 400;
	margin-top: 50px;
	text-align: center;
}

#sideBar {
	top: 0;
	margin-top: 18%;
	margin-left: 2%;
	position: fixed;
	border-radius: 20px;
	text-align: center;
	height: auto;
	width: 150px;
	color: #EDF1FA;
	background-color: #1C1C1C; /* Fallback */
	background-color: rgba(28, 28, 28, 90%);
}

#sideBar a {
	text-decoration: none;
	color: #EDF1FA;
}

#sideBar p {
	padding: 0;
	font-size: 18px;
	font-weight: 400;
	font-family: 'Lato';
	color: #EDF1FA;
	margin-top: 50px;
}

#sideBar > p:first-child {
	margin-top: 50px; 
	cursor: default;
}

#sideBar > p:nth-child(5) {
	color: #FFBC8F;
}

#sideBar p:last-child {
	margin-bottom: 50px;
}

#specialContainer {
	width: 100%;
	text-align: center;
}

#breakfastSpecial,
#otherSpecial {
	margin-top: 50px;
	vertical-align: top;
	display: inline-block;
	height: 350px;
	width: 320px;
	color: #EDF1FA;
	font-family: 'Lato';
	text-align: center;
	border-radius: 20px;
	background-color: #1C1C1C; /* Fallback */
	background-color: rgba(28, 28, 28, 90%);
}

#breakfastSpecial {
	margin-right: 40px;
}

.pricingContainer {
	display: inline-block;
	font-size: 22px;
	margin-top: 10px;

}

.pricingContainer p {
	display: inline-block;
	margin-top: 5px;

}

#breakfastSpecial h2,
#otherSpecial h2 {
	font-size: 30px;
	margin-top: 35px;

}

#breakfastSpecial p:nth-child(3),
#otherSpecial  p:nth-child(3){
	width: 300px;
	margin: 0 auto;
	margin-top: 20px;
	font-family: 'Lato';
	font-size: 18px;

}

/* Actual menu content */

#container {
	width: 65%;
	margin: 0 auto;
}

.subLeft {
	display: inline-block;
	width: 80%;
}

.subRight {
	float: right;
	display: inline;
	margin-top: 50px;
}

.subRight p {
	margin: 0;
	padding: 0;
}

#container h1 {
	color: #1c1c1c;
	font-family: 'Roboto';
	font-size: 35px;
	margin-top: 100px;
}

#container h2 {
	margin-top: 40px;
	font-family: 'Lato';
	font-style: italic;
	font-size: 24px;
	font-weight: 700;
	color: #1c1c1c;
}

#container h3 {
	display: inline-block;
	color: #B23935;
	font-family: 'Lato';
	font-size: 22px;
	margin-top: 50px;
}

#container p {
	color: #1c1c1c;
	font-family: 'Lato';
	font-size: 20px;
	width: 80%;
}

#breakfast01 .subRight,
#other01 .subRight {
	margin-top: 20px;
	text-align: center;
}

#container .subRight, {
	text-align: center;
}

#container .newPrice p {
	margin-right: 7px;
}


/* Footer */

#footer {
	position: relative;
	margin-top: 150px;
	height: 230px;
	width: 100%;
	background-image: linear-gradient(to bottom right, rgb(28, 28, 28), #1C1C1C); /* Fallback */
	background-image: linear-gradient(to bottom right, rgba(28, 28, 28, 80%), #1C1C1C 100%);
}

#footer a {
	text-decoration: none;
}

#footerContact {
	color: #EDF1FA;
	font-family: 'Lato';
	text-align: left;
	float: left;
	margin-left: 30px;
}

.contactLine i, .contactLine p {
	display: inline-block;
}

.contact p {
	font-size: 16px;
}

.contactLine i {
	margin-right: 10px;
	font-size: 20px;
}

.contactLine {
	margin-top: 30px;
}

#footerMid {
	text-align: center;
	margin: 0 auto;
	display: block;
	width: 400px;
	height: 100px;
	padding-top: 60px;
}

#nav01, #nav02, #nav03 {
	display: inline-block;
	font-family: 'Lato';
	font-size: 20px;
	height: 30px;
}

#nav01 a, #nav02 a, #nav03 a {
	color: #939393;
}

#nav01, #nav02 {
	border-right: 2px #EDF1FA solid;
	padding-right: 15px;
	padding-left: 15px;
}

#nav03 {
	padding-left: 15px;
}

#nav01 p, #nav02 p, #nav03 p {
	padding: 0;
	margin: 0;
}

#footerSocial a {
	text-decoration: none;
	color: #EDF1FA;
	font-size: 0;
	margin: 20px;
}

#footerSocial i {
	font-size: 26px;
}

#footerSocial {
	margin-top: 30px;
}

#copyright {
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
	font-family: 'Lato';
	font-size: 14px;
	color: #747474;
}

#reservationBottom p {
	margin: 0;
}

#reservationBottom a {
	color: #EDF1FA;
	font-size: 16px;
	font-family: 'Lato';
	margin-top: 80px;
	margin-right: 30px;
	text-align: left;
	float: right;
}

/* Hover effects */

#topLinks a:hover {
	color: #939393;
}

#reservation:hover {
	background: #B78F73;
}

#newsletterBox input[type=submit]:hover {
	background-color: #ffff;
	cursor: pointer;
}

.linkBox:hover {
	background: #4B4B4B;
}

#footerNav p:hover {
	color: #EDF1FA;
}

#footerSocial i:hover {
	color: #939393;
}

#reservationBottom p:hover {
	color: #939393;
}